.footer
    .footer_content
        h3.footer_content_title="Let's talk"

        p.footer_content_desc="I love to create impactful experiences which your users would love"

    .footer_socials
        - for (const social in socials.data)
            .footer_social
                .footer_social_icon
                
                span=socials.data[social].link