.footer {
    width: 100%;
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px 30px 0 0;
    background-color: #9175ff;
    padding: 30px 50px;
}

.footer_content {
    display: flex;
    flex-direction: column;
}

.footer_content_title {
    font-size: 6rem;
}

.footer_content_desc {
    font-size: 2rem;;
}

.footer_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_social {
    margin-top: 5px;
}

.footer_social_icon {

}

