.nav_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 10px 10px;
}

.nav_switch {

}


.nav_name_tag {

}


.nav_status_box {

}

.nav_status_text {

}

.nav_profile_media {

}

.nav_profile_media_image {

}
