%page {
    @extend %cover;
  
    opacity: 1;
    visibility: visible;
    // margin-top: 80px;
    z-index: z('content');
  }
  
//   %page--active {
//     opacity: 1;
//     visibility: visible;
//   }