.preloader{
    // @extend %cover;

    display: flex;
    // display: none;
    // background: $color-contessa;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: z('preloader');

    position: relative;
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.preloader_text{
    // @extend %title-53;

    max-width: 66rem;
    font-size: 0;
    // display: inline-block;
    // opacity: 0;

    span {
        display: inline-block;
        overflow: hidden;
    }

    span span{
        @extend %title-24;
        display: inline-block;
        overflow: hidden;
        // opacity: 1;
        transform-origin: center center 0.5em;
    }
}

.preloader_number{
    // @extend %description-14;
    position: absolute;
    overflow: hidden;
    // bottom: 7.3rem;
    top: calc(50% + 15rem);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 800;
    color: white;
    z-index: 5;

    @include media('<phone') {
        font-size: 2.4rem;
      }
}

.preloader_number_text{
    display: inline-block;
}

.preloader_vid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 20rem;
    z-index: 10;
}

.preloader_vid_media {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// .preloader_vid_wrapper {
//     width: 100%;
//     height: 100%;
//     position: relative;
// }
