.home {
    @extend %page;

    display: block;

    width: 100%;
    height: fit-content;
}

.home_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home_hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.home_hero_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_hero_media {
    display: flex;
    width: 80rem;
    height: 80rem;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.home_hero_media_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: .4;
}

.home_hero_blur {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 10;
    opacity: 0;
}

.home_hero_text_wrapper {
    width: 100rem;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -40%);
    z-index: 11;
}

.home_hero_text {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 11rem;
    font-weight: 600;
    // text-align: center;
}

.home_hero_button {
    position: absolute;
    bottom: 0;
    transform: translate(0, -200%);
    width: 70px;
    cursor: pointer;
}

.home_hero_button_text {

}


.home_works {
    margin-top: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_works_wrapper {
    width: 100%;
    height: 100%;
}

.home_works_slider {
    width: 110rem;
    height: 70rem;
    border-radius: 3rem;
    margin: auto;
    margin-top: 20rem;
    overflow: hidden;
}

.home_works_slider_media {
    width: 100%;
    height: 100%;
}

.home_works_slider_media_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.home_works_title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.home_works_title_text {
    font-size: 10rem;
    opacity: .3;
    text-transform: uppercase;
    margin-bottom: 20px;
}

